@use '../utils' as u;

.card {

    height: inherit;
    @include u.flexbox($direction: column, $justify: space-between);
    overflow-y: visible;
    background-color: var(--color-neutral-white);
    box-shadow: var(--card-box-shadow);
    max-height: fit-content;



    &--success.card__content {
        max-block-size: -webkit-fill-available;
        margin-block-start: 0;
        padding-block-start: u.rem(135);
        height: 100vh;
        row-gap: u.rem(32);
        background-color: var(--color-neutral-white);

        @include u.breakpoint($from: "tablet", $to: "desktop") {
            max-inline-size: u.rem(150);
            padding: u.rem(60);
            border-radius: u.rem(30);
            box-shadow: var(--card-box-shadow);
            max-block-size: fit-content;
        }

        @include u.breakpoint($from: "desktop", $to: "desktop-xlarge") {
            max-inline-size: u.rem(500);
            max-block-size: fit-content;
            border-radius: u.rem(30);
            padding: u.rem(60);
        }
    }

    &__icon {
        width: u.rem(64);
    }

    &__image {}

    &__content {
        flex: 1;
        margin-block-start: u.rem(40);
        padding: 0 u.rem(24) u.rem(45);
        color: var(--blue-800);

        @include u.flexbox($direction: column);
        row-gap: u.rem(24);
    }

    &__title {
        font-size: var(--font-size-h1);
    }

    &__description {}

    &__list {
        @include u.flexbox($direction: column);
        row-gap: u.rem(8);

        ::before {
            content: url('/assets/images/icon-list.svg');
            width: 20px;
            height: 20px;
            margin-inline-end: u.rem(16);
        }

        &-item {
            @include u.flexbox();
        }
    }

    &__footer {}

    &__form {
        margin-block-start: u.rem(16);
        @include u.flexbox($direction: column);
        row-gap: u.rem(8);
    }

    &__label {
        font-size: var(--font-size-label);
        font-weight: var(--font-bold);

        &-content {
            @include u.flexbox($justify: space-between);
        }
    }

    &__input {
        padding: u.rem(16) u.rem(24);
        font: inherit;
        border: 1px solid var(--color-neutral-grey);
        border-radius: u.rem(8);
        margin-block-end: u.rem(16);
        outline: none;

        &:hover,
        &:focus-visible {
            border: 1px solid var(--blue-800);
            cursor: pointer;
        }
    }

    &__button {
        padding: u.rem(16) u.rem(24);
        background-color: var(--blue-800);
        font: inherit;
        font-weight: var(--font-bold);
        color: var(--color-neutral-white);
        border: none;
        border-radius: u.rem(8);
        position: relative;
        overflow: hidden;
        z-index: 1;
        background-blend-mode: normal;
        transition: box-shadow 350ms ease-in-out;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            opacity: 0;
            inset: 0;
            background-image: var(--color-linear-grad);
            transition: opacity 350ms ease-in-out;
        }

        &:hover {
            cursor: pointer;
            box-shadow: var(--color-btn-shadow);
        }

        &:hover::before {
            opacity: 1;
        }

        &--success.card__button {
            margin-top: auto;
        }
    }

    @include u.breakpoint($from: "tablet", $to: "desktop") {
        overflow-y: visible;


        @include u.flexbox($direction: column, $align: center);
        max-inline-size: u.rem(700);
        border-radius: u.rem(36);

        &__image {
            width: 500px;
            margin: u.rem(42.8) u.rem(40) 0;
            border-radius: u.rem(16);
        }

        &__content {
            padding: 0;
            min-inline-size: u.rem(500);
            margin-block: u.rem(40);
        }
    }

    @include u.breakpoint($from: "desktop", $to: "desktop-xlarge") {
        @include u.flexbox($direction: row-reverse, $align: center);
        border-radius: u.rem(36);
        padding: u.rem(25);
        column-gap: u.rem(25);

        &__image {
            width: 400px;
        }
    }
}

.bold {
    font-weight: var(--font-bold);
}

.hidden {
    display: none;
}

.error {
    color: var(--color-primary);
    font-size: var(--font-size-label);
    font-weight: var(--font-bold);
}

.error-input {
    color: var(--color-primary);
    background-color: var(--color-error-bg);
    border: u.rem(2) solid var(--color-primary);
}