:root {
    --color-primary: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --color-neutral-grey: hsl(0, 0%, 58%);
    --color-neutral-white: hsl(0, 0%, 100%);

    --color-linear-grad: linear-gradient(90deg, hsl(15, 100%, 61%), hsl(346, 100%, 66%));
    --color-btn-shadow: 0 1rem 2rem hsla(4, 100%, 67%, .5);
    --card-box-shadow: 0 10px 25px 3px var(--blue-800);
    --color-error-bg: hsl(2, 100%, 95%);
}