@use '../utils' as u;

.wrapper {
    margin-inline: auto;
    background-color: var(--blue-700);
    min-block-size: 100vh;

    @include u.breakpoint($from: "tablet", $to: "desktop") {
        @include u.flexbox($align: center, $justify: center);
        padding-block: u.rem(50);
    }

    @include u.breakpoint($from: "desktop", $to: "desktop-xlarge") {
        @include u.flexbox($direction: row, $align: center, $justify: center);
    }
}